 {% extends 'base.html.twig' %} 
 {% block title %} <title>Home</title>  {% endblock %}
  {% block body %}
    <body>
        <h1>Welcome to the library</h1>
        <h3>Choose one between our options to see the information you are searching</h3>
        {% include("menu.html.twig") %}
    </body>
  {% endblock %}