 {% extends 'base.html.twig' %} 
 {% block title %} <title>Home</title>  {% endblock %}
  {% block body %}
    <body>
    {% include("menu.html.twig") %}
       <h1>Bienvenido  {{ nombre }} </h1><h2>Gracias por usar nuestro framework para el desarrollo de sus
        futuros proyectos</h2>
    </body>
  {% endblock %}