<ul class="list-group list-group-horizontal">
            <a class="nav-link" href="{{ path('home') }}"><li class="list-group-item">Home</li></a>
            <a class="nav-link" href="{{ path('editorial') }}"><li class="list-group-item">Editorial</li></a>
            <a class="nav-link" href="{{ path('autor') }}"><li class="list-group-item">Autor</li></a>
            <a class="nav-link" href="{{ path('catalogo') }}"><li class="list-group-item">Catálogo</li></a>
       </ul>

      

       <style>
          .list-group-item {
               color: grey;
               list-style: none;
               border: 1px solid black;
               display: flex;
               align-items: center;
               justify-content: space-around;
          }

          .list-group{
               background-color: #992C2C;
               max-width: 100%;
               margin-bottom: 20px;
               padding: 10px;
               display: flex;
               align-items: center;
               justify-content: space-around;
          }

          img {
                padding-bottom: 20px;
          }

          .container{
               max-width: 100%;
              
             
               padding:0;
          }

          th,td{
               text-align: center;
          }

          body{
               
          }
       </style>