{% extends 'base.html.twig' %}

{% block body %}
{{ include('menu.html.twig', { selectedMenu: 'home'}) }}
<h1> Formulario de Alta de Libros </h1>

   <div class="container">
			<div class="row">
				<div class="d-flex justify-content-center mt-2">
					<div class="formulario">
						<form method="POST" action="{{ path('catalogo_crear') }}">
                        <h3>Libro</h3>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">
									Titulo
								</label>
								<input type="text" name="titulo" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
							</div>

                            <div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">
									ISBN
								</label>
								<input type="text" name="isbn" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
							</div>

                            <div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">
									Edicion
								</label>
								<input type="text" name="edicion" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
							</div>

                            <div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">
									Publicacion
								</label>
								<input type="text" name="publicacion" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
							</div>

                            <div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">
									Categoria
								</label>
								<input type="text" name="categoria" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
							</div>
                            <h3>Autor</h3>
								<div class="autor">
									<select name="cars" id="cars">
										<option value="n1">1</option> 
										<option value="n2">2</option>      
										<option value="n3">3</option>       
										<option value="n4">4</option>
										<option value="n5">5</option>
									</select>
								</div>
                            <h3>Editorial</h3>

                            <div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">
									Editorial
								</label>
								<input type="text" name="edit" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
							</div>
							<button type="submit" class="btn btn-primary">
								Enviar
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>



{% endblock %}