<form method="post" action="{{ path('libro_delete', {'id': fondo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fondo.id) }}">
    <button class="btn">Delete</button>
</form>
