
 {% block title %} <title>Home</title>  {% endblock %}
  {% block body %}
  <style>
    h1{
        color: red;
        font-family: "arial";
    }
  </style>
    <body>
       <h1>AS ALWAYS, YOU HAVE FAILED</h1>
    </body>
  {% endblock %}